.footer {
  background-color: $color-dark-m;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font-color_light;
}

.year-box {
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-stack;
}

.github-box {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.github-link {
  font-family: $font-stack;
  position: relative;
  color: $font-color_light;
  text-decoration: none;
  margin-left: 1rem;
}

.github-link::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: $color-accent;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s;
}

.github-link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.rss-logo {
  width: 7rem;
  height: auto;
}

.rss-logo:hover {
  filter: invert(29%) sepia(32%) saturate(1382%) hue-rotate(354deg) brightness(103%) contrast(101%);
  transition: 0.5s;
}