.footer {
  background-color: $color-dark-m;
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font-color_light;
}

.year-box {
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-stack;
}

.github-box {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.github-link {
  font-family: $font-stack;
  position: relative;
  color: $font-color_light;
  text-decoration: none;
  margin-left: 1rem;
}

.github-link::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: $color-accent;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s;
}

.github-link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.rss-logo {
  color: $color-primary;
  width: 121px;
  height: 45px;
  background-image: url("/assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.rss-logo:hover {
  filter: invert(67%) sepia(67%) saturate(625%) hue-rotate(352deg) brightness(99%) contrast(103%);
  cursor: pointer;
  transition: 0.5s;
}