// advantages section
.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6rem;
  margin-bottom: 7rem;
  @media (max-width: 1180px) {
    justify-content: center;
    row-gap: 6rem;
  }
  @media (max-width: 768px) {
    gap: 4rem;
  }
  @media (max-width: 460px) {
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

.adv-card-icon {
  display: inline-block;
  margin-bottom: 2rem;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(20, 20, 20, 0.04);
    background-color: #fff;
    .adv-card-title {
      color: $color-accent;
    }
  }
}

.adv-card-title {
  margin-bottom: 1.5rem;
}

.adv-card-desc {
  @include paragraph-txt;
}

// our team section

.about-photo {
  width: 273px;
  height: auto;
  margin: 0px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  row-gap: 3rem;
  padding: 32px 0px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7rem;
}

.about-card {
  max-width: 67rem;
  max-height: 16.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  background-color: $color-dark;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  filter: brightness(0.9);
  @media (max-width: 768px) {
    max-height: 265px;
  }
  @media (max-width: 767px) {
    max-height: 60rem;
    max-width: 290px;
    flex-direction: column;
    .about-photo {
      border-radius: 10px;
      width: 290px;
    }
}
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  @media (max-width: 767px) {
    align-items: center;
    padding: 1rem;
  }
}

.about-name {
  margin: 0;
}

.about-subtitle {
  font-size: $font-stack;
  color: $color-gray;
}

.about-desc {
  margin: 14px 0px 0px;
  color: $font-color_light;
}

.github-icon {
  max-width: 2.5rem;
  height: auto;
  margin: 14px 0 0;
}

.github-icon:hover {
  filter: invert(29%) sepia(32%) saturate(582%) hue-rotate(354deg) brightness(107%) contrast(101%);
  transition: 0.4s;
}

.about-name {
  color: $font-color_light;
}