.display_none {
  display: none;
}

#statistic {
  width: 100vw;
  height: 100vh;
  margin-bottom: 8rem!important;
}

.statistic-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 4rem;
  @media (max-width: 800px) {
    justify-content: space-around;
    margin-top: 10rem;
  }
}

.get-statistic {
  @include btn-primary;
  min-height: 44px;
  &:hover {
    background-color: $color-accent;
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
}

.statistic-result {
  width: 50vw;
  height: auto;
  display: grid;
  grid-template-columns: 17rem 15rem 15rem;
  row-gap: 1.5rem;
  justify-content: center;
  margin: 4rem 0 8rem 0;
  @media (max-width: 800px) {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.statistic-info_sprint{
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 3px 4px 5px 0px;
  border-radius: 0 10px 10px 0;
  p {
    margin: 0;
    font-size: 20px;
    color: $color-accent;
  }
  @media (max-width: 800px) {
    width: 20rem;
    align-items: center;
    border-radius: 0 0 10px 10px;
    height: 50rem;
    margin-top: -1.6rem;
    justify-content: center;
  }
  @media (max-width: 375px) {
    width: 15rem;
  }
}

.statistic-info_audio {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 3px 4px 5px 0px;
  border-radius: 0 10px 10px 0;
  p {
    margin: 0;
    font-size: 20px;
    color: $color-accent;
  }
  @media (max-width: 800px) {
    width: 20rem;
    align-items: center;
    border-radius: 0 0 10px 10px;
    height: 50rem;
    margin-top: -1.6rem;
    justify-content: center;
  }
  @media (max-width: 375px) {
    width: 15rem;
  }
}

.stat-title {
  margin: 0;
}

.stat-grid-item1 {
  width: 90%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 3px 4px 5px 0px;
  color: $color-accent;
  font-weight: 600;
  border-radius: 10px;
  @media (max-width: 800px) {
    width: 20rem;
    text-align: center;
    height: 5rem;
  }
  @media (max-width: 375px) {
    width: 15rem;
  }
}

.sprint-grid-padding {
  padding: 1rem 0 0 1rem;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 6px 4px 5px;
  color: $color-accent;
  font-weight: 600;
  border-radius: 10px 0 0 10px;
  @media (max-width: 800px) {
    width: 20rem;
    height: 9rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
  }
  @media (max-width: 375px) {
    width: 15rem;
  }
}

.audio-grid-padding {
  padding: 1rem 0 0 1rem;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 6px 4px 5px;
  color: $color-accent;
  font-weight: 600;
  border-radius: 10px 0 0 10px;
  @media (max-width: 800px) {
    width: 20rem;
    height: 9rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
    margin-top: -3rem;
  }
  @media (max-width: 375px) {
    width: 15rem;
  }
}

.stat-span {
  color: $color-dark;
  font-weight: 300;
}