@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.pagination_number {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.active-page {
  background-color: coral;
}


.textbook-list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.textbook-list_item {
  width: 55rem;
  height: 19rem;
  display: flex;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  border-radius: 10px;
  padding: 0;
  background-color: rgb(250, 252, 254);
}

.textbook-card-img {
  width: 28rem;
  height: 100%;
  border-radius: 10px;
  // object-fit: cover;
  // object-position: center center;
}

.textbook-list_item__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.word,
p.description,
p.description-translate,
p.example,
p.example-translate {
  margin: 0;
}

.bnt-textbook {
  margin-bottom: 10px;
}

.groups {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.active-group {
  background-color: coral;
}

.groups_list__item {
  // margin: 10px;
  // width: 55px;
  // height: 55px;
  // border: 2px solid rgb(51, 68, 84);
  // border-radius: 50%;
  // cursor: pointer;
  height: 70px;
  width: 220px;
  background-color: #f3f4f8;
  display: flex;
  border-radius: 0.5rem;
  color: #2c2647;
  font-size: 1rem;
  font-family: 'Gilroy-Heavy';
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: all easy 0.5s;
}

