@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.pagination_number {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.active-page {
  background-color: coral;
}

.textbook-list_item {
  margin: 0 25%;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.bnt-textbook {
  margin-bottom: 10px;
}

.groups {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.active-group {
  background-color: coral;
}

.groups_list__item {
  margin: 10px;
  width: 55px;
  height: 55px;
  border: 2px solid rgb(51, 68, 84);
  border-radius: 50%;
  cursor: pointer;
}
