.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-content {
  max-width: 424px;
  margin: 0 -10rem 20rem 0;
}

.hero-title {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: $color-dark-m;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.hero-subtitle {
  font-family: $font-stack;
  display: block;
  margin-top: 8px;
  color: $color-gray;
}

.hero-text,
.hero-under-text {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin: 16px 0px 0px;
  color: $font-color_primary;
}

.hero-img-box {
  width: 700px;
  margin: 6rem 0rem 7rem 0rem;
}

.hero-img-guy {
  width: 30vw;
  margin-left: 18rem;
}

.hero-img-girl {
  width: 30vw;
  margin-right: 18rem;
}