@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
.btn-basic {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #3F5069;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-out;
}

.btn-basic:hover {
  background: #ffb108;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button-panel .button-sign-in {
  background: #3F5069;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 1px 3px 0 rgba(93, 100, 148, 0.2);
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 4px;
}

.button-panel .button-sign-up {
  background: #3F5069;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 1px 3px 0 rgba(93, 100, 148, 0.2);
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 4px;
}

.button-sign-in:hover,
.button-sign-up:hover {
  background-color: #ffb108;
  box-shadow: 0 8px 22px 0 rgba(37, 44, 97, 0.15), 0 4px 6px 0 rgba(93, 100, 148, 0.2);
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 24px;
  background-color: #fa6930;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.5s ease 0s;
  text-transform: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  transition: all 0.8s ease 0s;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  transform: translate(0px, 0px);
}

.modal:target .form-wrapper {
  opacity: 1;
  transform: translate(0px, 0px);
}

.modal-dialog {
  width: 45vw;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 560px) {
  .modal-dialog {
    width: 55vw;
  }
}
@media (max-width: 470px) {
  .modal-dialog {
    width: 65vw;
  }
}
@media (max-width: 410px) {
  .modal-dialog {
    width: 70vw;
  }
}
@media (max-width: 375px) {
  .modal-dialog {
    width: 75vw;
  }
}
@media (max-width: 365px) {
  .modal-dialog {
    width: 80vw;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}
.overlay__modal {
  text-align: center;
  white-space: nowrap;
}

.overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}

.modal-out-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Fonts */
/* fontawesome */
[class*=fontawesome-]:before {
  font-family: "FontAwesome", sans-serif;
}

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
}

/* Form Layout */
.form-wrapper {
  position: relative;
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px;
}

.close:focus, .close:hover {
  cursor: pointer;
  opacity: 0.75;
}

.signup-link {
  cursor: pointer;
}

.signup-link a:focus {
  color: #2c3849;
}

.signup-form-container {
  position: relative;
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(-50%, -60%);
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  font-size: 3rem;
  color: #3F5069;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.header {
  background-color: #f4efe7;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  height: 120px;
}
@media (max-width: 768px) {
  .header-container {
    height: 100px;
  }
}
@media (max-width: 375px) {
  .header-container {
    height: 85px;
  }
}

.header-left-wrapper {
  display: flex;
  align-items: center;
  width: 82vw;
  justify-content: space-between;
}
@media (max-width: 1270px) {
  .header-left-wrapper {
    width: 80vw;
  }
}

.header-left {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 40px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3F5069;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid #3F5069;
  cursor: pointer;
}
@media (max-width: 375px) {
  .logo {
    font-size: 1.2rem;
  }
}

.logo:hover {
  color: #2c3849;
  transition: all 0.3s ease-in-out;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
  position: relative;
}

.header-left::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3F5069;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-out 0.3s;
}

.nav-item::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffb108;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.header-left:hover::after,
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link {
  color: #000;
}

.active {
  color: red;
  pointer-events: none;
}

.act::after {
  content: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 80px;
}

.hamburger {
  display: none;
}

.hamburger.open {
  transform: rotate(-90deg);
}

@media (max-width: 980px) and (min-width: 320px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.7s ease-in-out;
    z-index: 10;
  }
  .line {
    width: 100%;
    height: 3px;
    background: #2c3849;
  }
}
@media (max-width: 980px) {
  .nav__container {
    width: 320px;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4efe7;
    z-index: 5;
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;
  }
}
@media (max-width: 980px) {
  .nav__container.open {
    transform: translateX(0%);
    box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
  }
}
@media (max-width: 320px) {
  .nav__container.open {
    transform: translateX(0%);
  }
}
.right-elems-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 980px) {
  .nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    font-size: 22px;
  }
  .right-elems-wrapper {
    justify-content: space-between;
    width: 10rem;
  }
}
@media (max-width: 980px) and (max-width: 460px) {
  .right-elems-wrapper {
    width: 8rem;
  }
}
@media (max-width: 980px) {
  .signIn-btn {
    display: none;
  }
}

.signIn-btn_open {
  display: block;
  position: fixed;
  top: 2.4rem;
  right: 18rem;
  z-index: 5;
  transform: translateX(100%);
  transition: all 0.6s ease-in-out;
}
@media (max-width: 387px) {
  .signIn-btn_open {
    width: 33px;
    height: 25px;
    padding: 0;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .signIn-btn_open {
    top: 1.9rem;
    right: 18.6rem;
  }
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f4efe7;
}

body.lock {
  overflow-y: hidden;
  height: 100vh;
}

.menu-filter {
  display: none;
}

.menu-filter_open {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
  transition: 0.3s;
  cursor: pointer;
}

.footer {
  background-color: #2c3849;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media (max-width: 605px) {
  .footer-container {
    justify-content: center;
  }
}

.year-box {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.github-box {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 605px) {
  .github-box {
    width: 55vw;
  }
}
@media (max-width: 480px) {
  .github-box {
    width: 45vw;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
@media (max-width: 370px) {
  .github-box {
    width: 38vw;
  }
}

.github-link {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
@media (max-width: 480px) {
  .github-link {
    margin: 0;
  }
}

.github-link::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffb108;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s;
}

.github-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.rss-logo {
  width: 7rem;
  height: auto;
}

.rss-logo:hover {
  filter: invert(29%) sepia(32%) saturate(582%) hue-rotate(354deg) brightness(107%) contrast(101%);
  transition: 0.4s;
}

.wrongPassword {
  background-color: aqua;
}

.closeModal {
  display: none;
}

#autorisation-button.true {
  background-color: #fa6930;
}

.textbook_container {
  padding-top: 6rem;
}
@media (max-width: 425px) {
  .textbook_container {
    padding-top: 3rem;
  }
}

#textbook-wrapper {
  position: relative;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin-bottom: 3rem;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}
@media (max-width: 990px) {
  #pagination {
    margin-top: 8rem;
  }
}
@media (max-width: 580px) {
  #pagination {
    margin-top: 6rem;
  }
}
@media (max-width: 460px) {
  #pagination {
    margin-top: 4rem;
    -moz-column-gap: 0.3rem;
         column-gap: 0.3rem;
  }
}

.pagination_number,
.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 0.5s ease 0s;
  outline: none;
  cursor: pointer;
  align-content: center;
}

@media (max-width: 580px) {
  .pagination_number {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .pagination_number {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 460px) {
  .pagination_number {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 370px) {
  .pagination_number {
    width: 26px;
    height: 26px;
  }
}

.prev-btn:hover,
.next-btn:hover,
.pagination_number:hover {
  background-color: rgb(242, 166, 99);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.active-page {
  background: rgb(242, 166, 99);
  color: #fff;
}

.next-btn {
  border-radius: 0 25px 25px 0;
  width: 125px;
}
@media (max-width: 580px) {
  .next-btn {
    width: 92px;
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .next-btn {
    height: 32px;
  }
}
@media (max-width: 460px) {
  .next-btn {
    width: 75px;
    height: 28px;
  }
}
@media (max-width: 375px) {
  .next-btn {
    width: 65px;
    height: 26px;
  }
}

.prev-btn {
  border-radius: 25px 0 0 25px;
  width: 125px;
}
@media (max-width: 580px) {
  .prev-btn {
    width: 92px;
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .prev-btn {
    height: 32px;
  }
}
@media (max-width: 460px) {
  .prev-btn {
    width: 75px;
    height: 28px;
  }
}
@media (max-width: 375px) {
  .prev-btn {
    width: 65px;
    height: 26px;
  }
}

.textbook-list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (max-width: 1250px) {
  .textbook-list {
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 920px) {
  .textbook-list {
    gap: 4rem;
  }
}

.textbook-list_item {
  width: 67rem;
  height: 24rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  border-radius: 10px;
  padding: 0;
  background-color: rgb(250, 252, 254);
  color: #000;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
@media (max-width: 1120px) {
  .textbook-list_item {
    width: 55rem;
    height: 20rem;
  }
}
@media (max-width: 920px) {
  .textbook-list_item {
    width: 28rem;
    height: 52rem;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 475px) {
  .textbook-list_item {
    width: 24rem;
  }
}
@media (max-width: 440px) {
  .textbook-list_item {
    width: 20rem;
  }
}
@media (max-width: 460px) {
  .textbook-list_item {
    width: 16rem;
    height: 46rem;
  }
}

.translate,
.description-translate,
.example-translate {
  color: rgb(136, 136, 136);
}

.textbook-card-img {
  width: 32rem;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 1120px) {
  .textbook-card-img {
    width: 28rem;
  }
}
@media (max-width: 475px) {
  .textbook-card-img {
    width: 24rem;
  }
}
@media (max-width: 440px) {
  .textbook-card-img {
    width: 20rem;
  }
}
@media (max-width: 460px) {
  .textbook-card-img {
    width: 16rem;
  }
}
@media (max-width: 460px) {
  .textbook-card-img {
    height: 25%;
  }
}

.textbook-list_item__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.2rem;
  padding-right: 0;
  justify-content: space-around;
  align-items: center;
  line-height: 1.7rem;
}
@media (max-width: 1120px) {
  .textbook-list_item__wrapper {
    line-height: 1.3rem;
  }
}
@media (max-width: 920px) {
  .textbook-list_item__wrapper {
    padding: 2rem;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: 2;
  }
}
@media (max-width: 460px) {
  .textbook-list_item__wrapper {
    padding: 1rem;
    padding-bottom: 0;
    width: inherit;
    font-size: 0.8rem;
  }
}

.upper_card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.word-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.upper_card-box {
  width: 12rem;
  border-left: 3px solid #3f5069;
  padding-left: 23px;
}
@media (max-width: 370px) {
  .upper_card-box {
    width: 10rem;
    padding-left: 10px;
  }
}

.word,
p.description,
p.description-translate,
p.example,
p.example-translate,
p.transcription {
  margin: 0;
}

h2.word {
  display: inline;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;
}
@media (max-width: 370px) {
  h2.word {
    font-size: 1.4rem;
  }
}

p.transcription {
  display: inline;
  font-size: 1.2rem;
  text-transform: none;
  font-weight: 300;
}

.bnt-textbook {
  background-color: rgb(96, 164, 191);
  height: 2rem;
  margin: 0.2rem;
}
@media (max-width: 370px) {
  .bnt-textbook {
    height: 1.2rem;
    width: 0.7rem;
    padding: 0;
    font-size: 10px;
  }
}

.bnt-bell {
  background-color: rgb(96, 164, 191);
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem;
  padding: 0 0 0.2rem 0.2rem;
}

.groups {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 990px) {
  .groups {
    width: 60vw;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin: 0 auto;
  }
}

.groups_list__item {
  height: 60px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  padding: 0 16px;
  color: #fff;
  line-height: 1.15;
  font-size: 1.2rem;
  overflow: hidden;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all easy 0.5s;
}
.groups_list__item:nth-child(1) {
  background-color: rgb(242, 105, 92);
}
.groups_list__item:nth-child(1):hover {
  background-color: rgba(242, 105, 92, 0.9);
}
.groups_list__item:nth-child(2) {
  background-color: rgb(242, 166, 99);
}
.groups_list__item:nth-child(2):hover {
  background-color: rgba(242, 166, 99, 0.9);
}
.groups_list__item:nth-child(3) {
  background-color: rgb(250, 170, 186);
}
.groups_list__item:nth-child(3):hover {
  background-color: rgba(250, 170, 186, 0.9);
}
.groups_list__item:nth-child(4) {
  background-color: rgb(136, 191, 176);
}
.groups_list__item:nth-child(4):hover {
  background-color: rgba(136, 191, 176, 0.9);
}
.groups_list__item:nth-child(5) {
  background-color: rgb(96, 164, 191);
}
.groups_list__item:nth-child(5):hover {
  background-color: rgba(96, 164, 191, 0.9);
}
.groups_list__item:nth-child(6) {
  background-color: rgb(89, 72, 77);
}
.groups_list__item:nth-child(6):hover {
  background-color: rgba(89, 72, 77, 0.9);
}

.groups_list__item:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

button.groups_list__item.active-group {
  box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.authorization_block {
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 90px;
  padding: 10px;
  padding-bottom: 2rem;
}
@media (max-width: 1120px) {
  .authorization_block {
    width: 10%;
  }
}
@media (max-width: 920px) {
  .authorization_block {
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .authorization_block {
    flex-wrap: wrap;
    height: 17%;
    gap: 1rem;
  }
}

.btn_authorization_block {
  display: flex;
  width: 140px;
  height: 50px;
  font-size: 18px;
  text-transform: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 105, 91);
}
@media (max-width: 1120px) {
  .btn_authorization_block {
    width: 64px;
    height: 32px;
    font-size: 12px;
  }
}
@media (max-width: 920px) {
  .btn_authorization_block {
    width: 140px;
    height: 36px;
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .btn_authorization_block {
    width: 115px;
    height: 26px;
    font-size: 14px;
  }
}

.btn-dif-word {
  background-color: rgb(242, 166, 99);
}

.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 7rem;
  bottom: 0em;
  width: 3em;
  pointer-events: none;
}
@media (max-width: 1410px) {
  .back-to-top-wrapper {
    right: 4rem;
  }
}
@media (max-width: 1310px) {
  .back-to-top-wrapper {
    right: 2rem;
  }
}
@media (max-width: 1250px) {
  .back-to-top-wrapper {
    bottom: -2.8rem;
    right: calc(100vw - 50%);
  }
}
@media (max-width: 920px) {
  .back-to-top-wrapper {
    bottom: 0;
    right: 10rem;
  }
}
@media (max-width: 885px) {
  .back-to-top-wrapper {
    bottom: -2.8rem;
    right: calc(100vw - 50%);
  }
}

.back-to-top-link {
  position: -webkit-sticky;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  padding: 0.25rem;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ffcc5e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 1s ease-in-out 0s;
}
@media (max-width: 1320px) {
  .back-to-top-link {
    width: 60px;
  }
}
@media (max-width: 1250px) {
  .back-to-top-link {
    width: 100px;
  }
}
.back-to-top-link:hover {
  background-color: #ffb108;
}
.back-to-top-link:focus {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0 0 9px 5px #fbbe4e;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  margin-bottom: 7rem;
}
@media (max-width: 1180px) {
  .advantages-content {
    justify-content: center;
    row-gap: 6rem;
  }
}
@media (max-width: 768px) {
  .advantages-content {
    gap: 4rem;
  }
}
@media (max-width: 460px) {
  .advantages-content {
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

.adv-card-icon {
  display: inline-block;
  margin-bottom: 2rem;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.advantages-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(20, 20, 20, 0.04);
  background-color: #fff;
}
.advantages-card:hover .adv-card-title {
  color: #ffb108;
}

.adv-card-title {
  margin-bottom: 1.5rem;
}

.adv-card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.about-photo {
  width: 273px;
  height: auto;
  margin: 0px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  row-gap: 3rem;
  padding: 32px 0px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7rem;
}

.about-card {
  max-width: 67rem;
  max-height: 16.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  background-color: #3F5069;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  filter: brightness(0.9);
}
@media (max-width: 768px) {
  .about-card {
    max-height: 265px;
  }
}
@media (max-width: 767px) {
  .about-card {
    max-height: 60rem;
    max-width: 290px;
    flex-direction: column;
  }
  .about-card .about-photo {
    border-radius: 10px;
    width: 290px;
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
}
@media (max-width: 767px) {
  .about-content {
    align-items: center;
    padding: 1rem;
  }
}

.about-name {
  margin: 0;
}

.about-subtitle {
  font-size: "Roboto", sans-serif;
  color: #8d8d8d;
}

.about-desc {
  margin: 14px 0px 0px;
  color: #fff;
}

.github-icon {
  max-width: 2.5rem;
  height: auto;
  margin: 14px 0 0;
}

.github-icon:hover {
  filter: invert(29%) sepia(32%) saturate(582%) hue-rotate(354deg) brightness(107%) contrast(101%);
  transition: 0.4s;
}

.about-name {
  color: #fff;
}

#game-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 1440px;
  height: auto;
  margin: 2rem 0 4rem 0;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
#game-page #sprint-game-window {
  width: 100%;
  height: 100%;
}
#game-page #sprint-game-window .sprint-flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}
#game-page #sprint-game-window .sprint-game-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #2c3849;
}
#game-page #sprint-game-window .sprint-game-timer p {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #f4efe7;
}
#game-page #sprint-game-window .sprint-game-window-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height: 45vh;
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
}
#game-page #sprint-game-window .sprint-game-window-active .sprint-progress {
  width: 100%;
  height: auto;
  display: flex;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
  flex-direction: row;
  overflow-x: scroll;
}
#game-page #sprint-game-window .sprint-game-window-active .sprint-progress .progress {
  min-width: 35px;
  height: 35px;
  padding: 0;
  border: solid 1px white;
  border-radius: 5px;
}
#game-page #sprint-game-window .sprint-game-window-active .main-sprint .english-word {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}
#game-page #sprint-game-window .sprint-game-window-active .main-sprint .translate-word {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}
#game-page #sprint-game-window .sprint-game-window-active .btn-sprint {
  height: 10vh;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
#game-page #sprint-game-window .sprint-game-window-active .btn-sprint #game-btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: #fa6930;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-position: center !important;
  transition: background 0.8s !important;
  transition: all 0.2s ease-out !important;
}

#game-btn:hover {
  background: #ffb108 radial-gradient(circle, transparent 1%, #ffb108 1%) center/15000% !important;
}

#game-btn:active {
  background-color: #f8c963 !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

#game-btn.btn-no:hover {
  background: red radial-gradient(circle, transparent 1%, red 1%) center/15000% !important;
}

#game-btn.btn-no:active {
  background-color: rgb(247, 160, 160) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

#game-btn.btn-no:focus,
#game-btn.btn-yes:focus {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0 0 9px 5px #fbbe4e;
}

#game-btn.btn-yes:hover {
  background: greenyellow radial-gradient(circle, transparent 1%, greenyellow 1%) center/15000% !important;
}

#game-btn.btn-yes:active {
  background-color: rgb(255, 255, 255) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}
#game-btn.btn-yes:active:focus {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0 0 9px 5px #fbbe4e;
}

.game-result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.result-window {
  width: 80vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: #3F5069;
  color: #fff;
  overflow: scroll;
  padding: 1.7rem;
}
.result-window .gameResult {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
  height: auto;
  margin: 0.6rem 0 0 0;
  padding: 0;
}
.result-window .gameResult .result-left-side {
  display: flex;
}
.result-window .gameResult .point-result {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 10px;
}
.result-window .gameResult .result-word-left {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 26vw;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: start;
}
.result-window .gameResult .result-word-left .result-word-span {
  color: #ffb108;
}
.result-window .gameResult .result-word {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 37vw;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 4rem;
  text-align: start;
}
.result-window .gameResult .result-word .result-word-span-right {
  color: greenyellow;
}

.correct-result-percent {
  margin: 0 auto;
  padding: 0;
}
.correct-result-percent p {
  margin: 0;
  padding: 0;
}

.true {
  background-color: greenyellow;
}

.false {
  background-color: red;
}

.sprintGameInfo {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 4rem 0 4rem 0;
}
@media (max-width: 375px) {
  .sprintGameInfo {
    padding-top: 0;
  }
}

.audioGameInfo {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 4rem 0 4rem 0;
}

.game-title-frame {
  display: flex;
  width: 340px;
  height: 340px;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 375px) {
  .game-title-frame {
    width: 290px;
    height: 305px;
  }
}

img.sprint-title-icon {
  width: 110px;
  height: 110px;
}

.game-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fcedd9;
}

.game-title {
  font-size: 2rem;
  color: #2c3849;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
}

.game-description {
  margin: 0 auto;
  width: 40vw;
  height: 15vh;
  text-align: justify;
  line-height: 2.4rem;
  letter-spacing: 0.7px;
  margin-bottom: 3rem;
}
@media (max-width: 980px) {
  .game-description {
    height: 20vh;
  }
}
@media (max-width: 800px) {
  .game-description {
    height: 25vh;
    margin-bottom: 8rem;
  }
}
@media (max-width: 767px) {
  .game-description {
    height: 25vh;
    width: 340px;
    margin-bottom: 4rem;
  }
}
@media (max-width: 630px) {
  .game-description {
    height: 35vh;
    margin-bottom: 2rem;
  }
}
@media (max-width: 630px) {
  .game-description {
    width: 290px;
    line-height: 2rem;
  }
}

.game-level-select {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3d4f69;
}

.game-level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.select-level-audio,
.select-level-sprint {
  cursor: pointer;
  width: 90px;
  border-radius: 15px;
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 4px 8px #c5c5c5;
  transition: all 300ms;
  border: none;
  padding: 1rem 0 1rem 1.2rem;
  color: #ffb108;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.level-option {
  color: #fff;
  background-color: #3F5069;
}

.sad-boy-icon {
  width: 16vw;
  height: auto;
  margin: 6rem auto;
}

.good-result-icon {
  width: 10rem;
  height: 10rem;
}

.audio-game-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.audio-place {
  display: flex;
  width: 340px;
  height: 340px;
  margin: 0 auto;
  margin-bottom: 6rem;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background: #fffdfd;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.audio-place .audio-game-icon {
  width: 180px;
  height: 180px;
}

.audio-place:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  transition: 0.3s;
}

.btn-audio {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.btn-audio p {
  font-family: "Roboto", sans-serif;
  display: flex;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 1rem 0.7rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: #3F5069;
  font-size: 16px;
  height: 50px;
  letter-spacing: 0.0892857143em;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-position: center !important;
  transition: background 0.8s !important;
  transition: all 0.1s ease-out !important;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.btn-audio :hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #fff;
  background: rgba(112, 224, 37, 0.713) radial-gradient(circle, transparent 35%, rgba(112, 224, 37, 0.713) 1%) center/15000% !important;
}
.btn-audio :active {
  background-color: rgba(213, 255, 44, 0.695) !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

.sprint-game-timer {
  -webkit-animation: mymove 5s infinite alternate;
          animation: mymove 5s infinite alternate;
}

@-webkit-keyframes mymove {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(255, 206, 83, 0.604);
  }
  35% {
    background-color: rgba(247, 126, 46, 0.562);
  }
  50% {
    background-color: rgba(255, 0, 55, 0.451);
  }
  75% {
    background-color: rgba(27, 181, 13, 0.381);
  }
  85% {
    background-color: rgb(138, 187, 200);
  }
  100% {
    background-color: rgba(194, 126, 231, 0.601);
  }
}

@keyframes mymove {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(255, 206, 83, 0.604);
  }
  35% {
    background-color: rgba(247, 126, 46, 0.562);
  }
  50% {
    background-color: rgba(255, 0, 55, 0.451);
  }
  75% {
    background-color: rgba(27, 181, 13, 0.381);
  }
  85% {
    background-color: rgb(138, 187, 200);
  }
  100% {
    background-color: rgba(194, 126, 231, 0.601);
  }
}
.play-again {
  width: 15vw;
  height: 10vh;
  font-size: 2rem;
  letter-spacing: normal;
}

.btn-click {
  background-color: #ffb108 !important;
  transition: background 0.5s !important;
  transition: all 0.2s ease-out !important;
  background: rgba(198, 238, 36, 0.695) radial-gradient(circle, transparent 55%, rgba(112, 224, 37, 0.713) 1%) center/15000% !important;
  background-size: 100% !important;
  transition: background 0s !important;
  transform: scale(1.1);
  outline: none;
}

.keyboard-control {
  width: 370px;
  height: 188px;
  margin: 2rem auto 2rem auto;
  font-weight: 300;
  display: block;
  color: #fff;
  line-height: 1.9rem;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  border-radius: 10px;
  background-color: #fa6930;
  padding: 1rem;
}
@media (max-width: 980px) {
  .keyboard-control {
    margin-top: 6rem;
  }
}
@media (max-width: 812px) {
  .keyboard-control {
    margin-top: 4rem;
  }
}
@media (max-width: 425px) {
  .keyboard-control {
    width: 290px;
    height: 210px;
  }
}

.keys-control-title {
  font-weight: 800;
  color: #fff;
}

.sprint-game-btn,
.audio-game-btn {
  height: 55px;
  font-size: 20px;
}

.true-answear {
  background-color: greenyellow !important;
}

.display_none {
  display: none;
}

#statistic {
  width: 100vw;
  height: 100vh;
  margin-bottom: 8rem !important;
}

.statistic-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 4rem;
}

.get-statistic {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #3F5069;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-out;
  min-height: 44px;
}
.get-statistic:hover {
  background-color: #ffb108;
  box-shadow: 0 8px 22px 0 rgba(37, 44, 97, 0.15), 0 4px 6px 0 rgba(93, 100, 148, 0.2);
}

.statistic-result {
  width: 50vw;
  height: auto;
  display: grid;
  grid-template-columns: 17rem 15rem 15rem;
  row-gap: 1.5rem;
  justify-content: center;
  margin: 4rem 0 8rem 0;
}

.statistic-info_sprint {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 4px 5px 0px;
  border-radius: 0 10px 10px 0;
}
.statistic-info_sprint p {
  margin: 0;
  font-size: 20px;
  color: #ffb108;
}

.statistic-info_audio {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 4px 5px 0px;
  border-radius: 0 10px 10px 0;
}
.statistic-info_audio p {
  margin: 0;
  font-size: 20px;
  color: #ffb108;
}

.stat-title {
  margin: 0;
}

.stat-grid-item1 {
  width: 90%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 4px 5px 0px;
  color: #ffb108;
  font-weight: 600;
  border-radius: 10px;
}

.sprint-grid-padding {
  padding: 1rem 0 0 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 6px 4px 5px;
  color: #ffb108;
  font-weight: 600;
  border-radius: 10px 0 0 10px;
}

.audio-grid-padding {
  padding: 1rem 0 0 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 6px 4px 5px;
  color: #ffb108;
  font-weight: 600;
  border-radius: 10px 0 0 10px;
}

.stat-span {
  color: #3F5069;
  font-weight: 300;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 690px) {
  .hero-container {
    flex-direction: column;
  }
}

.hero-content {
  max-width: 424px;
  margin: 6rem -10rem 38rem 0;
}
@media (max-width: 1150px) {
  .hero-content {
    margin: 6rem -15rem 30rem 0;
  }
}
@media (max-width: 980px) {
  .hero-content {
    margin: 6rem -25rem 30rem 0;
  }
}
@media (max-width: 768px) {
  .hero-content {
    margin: -16rem -38rem 30rem 0;
  }
}
@media (max-width: 690px) {
  .hero-content {
    margin: 6rem 6rem 0 0;
  }
}
@media (max-width: 615px) {
  .hero-content {
    margin: 6rem 0 0 0;
  }
}
@media (max-width: 460px) {
  .hero-content {
    margin: 4rem 0 2rem 0;
  }
  .hero-content .cta-btn {
    margin: 0 auto;
  }
}

.hero-title {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #2c3849;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (max-width: 460px) {
  .hero-title {
    text-align: center;
  }
}

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 8px;
  color: #8d8d8d;
}
@media (max-width: 460px) {
  .hero-subtitle {
    text-align: center;
  }
}

.hero-text,
.hero-under-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
  display: block;
  margin: 16px 0px 0px;
}
@media (max-width: 460px) {
  .hero-text,
.hero-under-text {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 18px;
  }
}

.hero-img-box {
  width: 700px;
  margin: 6rem 0rem 7rem 0rem;
}
@media (max-width: 980px) {
  .hero-img-box {
    margin-bottom: 0;
  }
}
@media (max-width: 690px) {
  .hero-img-box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 0;
  }
}
@media (max-width: 375px) {
  .hero-img-box {
    margin-bottom: 0;
  }
}

.hero-img-girl {
  width: 575px;
  margin-left: 14rem;
}
@media (max-width: 1150px) {
  .hero-img-girl {
    margin-left: 10rem;
  }
}
@media (max-width: 980px) {
  .hero-img-girl {
    width: 390px;
    margin-left: 21rem;
  }
}
@media (max-width: 768px) {
  .hero-img-girl {
    width: 500px;
    margin-left: 17rem;
    margin-top: 10rem;
  }
}
@media (max-width: 690px) {
  .hero-img-girl {
    width: 455px;
    margin: 0 0 0 10rem;
  }
}
@media (max-width: 615px) {
  .hero-img-girl {
    margin: 0;
  }
}
@media (max-width: 460px) {
  .hero-img-girl {
    width: 395px;
  }
}
@media (max-width: 395px) {
  .hero-img-girl {
    width: 320px;
  }
}

.hero-img-guy {
  width: 575px;
}
@media (max-width: 980px) {
  .hero-img-guy {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .hero-img-guy {
    margin-left: 6rem;
  }
}
@media (max-width: 690px) {
  .hero-img-guy {
    width: 455px;
    margin: 0 10rem 4rem 0;
  }
}
@media (max-width: 615px) {
  .hero-img-guy {
    margin: 0;
  }
}
@media (max-width: 460px) {
  .hero-img-guy {
    width: 395px;
  }
}
@media (max-width: 395px) {
  .hero-img-guy {
    width: 320px;
  }
}

#pagination-dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin-bottom: 3rem;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}