@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
.btn-basic {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #3F5069;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-out;
}

.btn-basic:hover {
  background: #ffb108;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button-panel .button-sign-in {
  background: #3F5069;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 1px 3px 0 rgba(93, 100, 148, 0.2);
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 4px;
}

.button-panel .button-sign-up {
  background: #3F5069;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 1px 3px 0 rgba(93, 100, 148, 0.2);
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 4px;
}

.button-sign-in,
.button-sign-up:hover {
  background-color: #ffb108;
  box-shadow: 0 8px 22px 0 rgba(37, 44, 97, 0.15), 0 4px 6px 0 rgba(93, 100, 148, 0.2);
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 24px;
  background-color: #fa6930;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.5s ease 0s;
  text-transform: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  transition: all 0.8s ease 0s;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  transform: translate(0px, 0px);
}

.modal:target .form-wrapper {
  opacity: 1;
  transform: translate(0px, 0px);
}

.modal-dialog {
  width: 45vw;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}
.overlay__modal {
  text-align: center;
  white-space: nowrap;
}

.overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}

.modal-out-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Fonts */
/* fontawesome */
[class*=fontawesome-]:before {
  font-family: "FontAwesome", sans-serif;
}

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
}

/* Form Layout */
.form-wrapper {
  position: relative;
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px;
}

.close:focus, .close:hover {
  cursor: pointer;
  opacity: 0.75;
}

.signup-link {
  cursor: pointer;
}

.signup-link a:focus {
  color: #2c3849;
}

.signup-form-container {
  position: relative;
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(-50%, -60%);
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  font-size: 3rem;
  color: #3F5069;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.header {
  background-color: #f4efe7;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.header-left {
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3F5069;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid #3F5069;
  cursor: pointer;
}

.logo:hover {
  color: #2c3849;
  transition: all 0.3s ease-in-out;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffb108;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link {
  color: #000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 80px;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
  background-color: #f4efe7;
}

.footer {
  background-color: #2c3849;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.year-box {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.github-box {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.github-link {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.github-link::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffb108;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s;
}

.github-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.rss-logo {
  width: 7rem;
  height: auto;
}

.rss-logo:hover {
  filter: invert(29%) sepia(32%) saturate(1382%) hue-rotate(354deg) brightness(103%) contrast(101%);
  transition: 0.5s;
}

.wrongPassword {
  background-color: aqua;
}

.closeModal {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

#pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.pagination_number {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.textbook-list_item {
  margin: 0 25%;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);
}

.bnt-textbook {
  margin-bottom: 10px;
}

.groups {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.groups_list__item {
  margin: 10px;
  width: 55px;
  height: 55px;
  border: 2px solid rgb(51, 68, 84);
  border-radius: 50%;
  background-color: transparent;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  margin-bottom: 7rem;
}

.adv-card-icon {
  display: inline-block;
  margin-bottom: 2rem;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
}

.adv-card-title {
  margin-bottom: 1.5rem;
}

.adv-card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.about-photo {
  width: 273px;
  height: auto;
  margin: 0px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  row-gap: 3rem;
  padding: 32px 0px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7rem;
}

.about-card {
  max-width: 67rem;
  max-height: 16.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  background-color: #3F5069;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 18px 32px 18px 40px;
}

.about-subtitle {
  font-size: "Roboto", sans-serif;
  color: #8d8d8d;
}

.about-desc {
  margin: 14px 0px 0px;
  color: #fff;
}

.github-icon {
  max-width: 2.5rem;
  height: auto;
  margin: 14px 0 0;
}

.github-icon:hover {
  filter: invert(29%) sepia(32%) saturate(1382%) hue-rotate(354deg) brightness(103%) contrast(101%);
  transition: 0.5s;
}

.about-name {
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-content {
  max-width: 424px;
  margin: 0 -10rem 20rem 0;
}

.hero-title {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #2c3849;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 8px;
  color: #8d8d8d;
}

.hero-text,
.hero-under-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
  display: block;
  margin: 16px 0px 0px;
}

.hero-img-box {
  width: 700px;
  margin: 6rem 0rem 7rem 0rem;
}

.hero-img-guy {
  width: 30vw;
  margin-left: 18rem;
}

.hero-img-girl {
  width: 30vw;
  margin-right: 18rem;
}